table {
    border-collapse: collapse;
    width: 100%;
	}

th, td {
    text-align: left;
    padding: 8px;
	}

tr:nth-child(even)
	{
		background-color: #34495E
	}

	.sesion{
	display:flex;
	justify-content: right;
	}
	.sesion p{
	margin: 0px;
	padding: 10px 30px 0 0;
	}

	.encabezado
	{
		background-color:#34495E;
		height:50px;
		border-radius: 80px 20px 0px 0px; 
	}

	.contenedor{
		display:flex;
		height: 90vh;
	}
	.parteIzq
	{
		padding:30px 0;
		background-color:#c0c0c0;
		width:20%;
		float:left;
		height:95%
	}

	.parteDer
	{
	 	background-color:#8080ff;;
	 	width:80%;
	 	float:left;
	 	padding: 30px;
	 	border-radius:50px;
	 	height:100%;
	 	margin: 0 10px;
	 	
	}
	.menu
	{
		background-color:#34495E;
		width:10%;
		float:left;
				height:95%
	
	}
	body{
		padding:0;
		margin:0;
	}
	.menu ul{
		list-style:none;
		margin:0;
		
	}
	.menu ul li{
		padding: 15px;
		position:relative;
		width:180px;
		vertical-align:middle;
		background-color:#34495E;
		border: 2px solid #BDC3C7;
		border-left: 8px solid #8080ff;
	}
	.menu ul ul{
		transition: all 0.3s;
		opacity:0;
		position:absolute;
		visibility: hidden;
		left:80%;
		top:-2px;
		boder-left: 1px solid #BDC3C7;
		
	}
	.menu ul li:hover >ul{
		opacity: 1;
		visibility: visible;
		
	}
	
	.menu >ul >li{
		border-right: 5px solid #8080ff;
	}
	.menu ul li a{
		color:#fff;
		text-decoration:none;
	}
	span{
		margin-right:15px;
	}
	.sub-menu:hover{
		background-color: #91bbff;
		cursor: pointer;
	}

	
	div.formulario {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
    justify-content: center;
	}

	div.formulario label       { text-align:right; color:white; font-family: 'Kanit', sans-serif;}
	div.formulario label:after { content: ":"; }
	
	.submit{
	margin-top: 20px;
	width:30%;
	display:flex;
	justify-content: center;
	margin-left: 40%;
	}
	
	
	.login{
		border-collapse: collapse;
    	width: 45%;
		margin-left: 25%;
		margin-top: 1%;
		font-family: 'Kanit', sans-serif;
		
	}
	
	
	.btn-primary{
		background: #8080ff;
		margin-left: 40%;
	}
	
	.text-bg-light p-3{
		
		display:flex;
		justify-content: center;
	}
	
	.user{
	font-family: 'Kanit', sans-serif;
	color: white;
	}
	
	.tituloForm{
	font-family: 'Kanit', sans-serif;
	color: white;
	text-align: center;
	}
	
	.btn-light{
	background: #34495E;
	font-family: 'Kanit', sans-serif;
	color: white;
	}
	